@charset "UTF-8";
p {
    color: gray;
}
body {
    margin: 1%;
}

.title {
    margin-right: auto;
}
hr {
    border-top: 2px solid black;
}

div.home {
    width: 100px;
    margin: 0 10px;
    padding: 2px 30px;
    border-radius: 40px;
    background-color: green;
    color: white;
}

div.main {
    margin: 0 15% 0 10%;
}
.sidebar {
    float: right;
    margin: 0 0 0 0;
}




div.footer {
    margin:1% 5% 5% 70%;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th,td{
    border-right: 2px solid;
}
a {
    text-decoration: none;
}

.topic {
    display: inline-block;
}

.buttonRound {
    bottom: 0;
    top: 0;
    margin: auto;
    height: 50px;
    width: 45%;
    border-radius: 10px; /* (buttonの高さ / 2) の値 */
    background: gray;
}
input {
    width: 300px;
    font-size: 16px;
}
