<!DOCTYPE html>
{% load static %}
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link rel='stylesheet' href="{% static 'style.css' %}">
        <title>とこや掲示板</title>
        <meta name="description" content="とこや掲示板は匿名掲示板です！">
    </head>
    <body>
        <header>
            <a href="{% url 'homeViews' %}">
                <div class="home">
                    <nobr>とこや掲示板</nobr> 
                </div>
            </a>
            <hr>
        </header>
        <div class="main">
            {% block content %}
            {% endblock content %}
        </div>
        <hr>
        <div class="footer">
            <table align="right">
                <tr>
                    <th><nobr><a href="{% url 'mysite' %}">このサイトについて</a> </nobr> </th>
                    <th><nobr><a href="{% url 'rule' %}">利用規約</a> </nobr></th>
                </tr>
            </table>    
        </div>
    </body>
</html>