{% extends "base.html" %}
{% block content %}
<h4>利用者の責任</h4>
<p>利用者は、掲示板を適切かつ法的に使用する責任があります。</p>
<p>誰かの個人情報を不正に取得するなど、他の利用者に対する不正な行為は禁止されています。</p>
<hr>
<h4>適切なコンテンツの提供</h4>
<p>利用者は、公共の場である掲示板に適切なコンテンツを提供する責任があります。</p>
<p>不適切な言葉遣い、差別的な表現、違法なコンテンツの投稿は禁止されています。</p>
<hr>
<h4>知的財産権の尊重</h4>
<P>他者の著作権、商標、特許などの知的財産権を尊重し、侵害しないようにしてください。</P>
<hr>
<h4>プライバシーの保護</h4>
<p>他の利用者のプライバシーを尊重し、個人情報の共有は慎重に行ってください。</p>
<p>他の利用者の同意なしに個人情報を収集、共有することは禁止されています。</p>
<hr>
<h4>法的制約の遵守</h4>
<p>利用者は、適用される法律および規制を遵守する責任があります。</p>
<p>違法な活動、例えば違法なコンテンツの提供や不正アクセスなどは厳禁です。</p>
<hr>
<h4>モデレーションおよび違反への対応</h4>
<P>掲示板の管理者は、利用規約に違反するコンテンツを削除する権限を有します。</P>
<p>利用者は、管理者の指示に従うことが求められます。</p>
<hr>
<h4>予告なく利用規約の変更</h4>
<p>掲示板の管理者は、予告なく利用規約を変更する権利を有します。</p>
{% endblock content %}