{% extends "base.html" %}

{% block content %}
<h1>{{topic.title}}</h1>
<h4>{{ topic.name}}さん
    {{ topic.date|date:"Y-m-j H:i"}}</h4>
<h4>{{ topic.detail}}</h4>
<a href="{% url 'view' topic.genre %}">ジャンル別へ</a>

<hr>

{% for r in reply %}
<p>{{r.name}}さん {{ r.date|date:"Y-m-j H:i"}}</p>
<p>>{{r.text}}</p>
<hr>
{% endfor %}


<form action="{% url 'view_detail' pk=topic.pk %}" method="post">
    {% csrf_token %}
    {{ ReplyForm.as_p }}
    <button type="submit">投稿</button>
</form>
<hr>
<button class="buttonRound">
    <a href="{% url 'topic_create' %}">
        <nobr>話題作成はこちら!</nobr>
    </a>
</button>
{% endblock content %}

